<div class="tablet-horizontal">
    <button class="botao-fullscreen" (click)="toggleFullScreen()"><i class="fas fa-expand"></i></button>
    <div class="div">
        <div class="overlap">
            <p class="text-wrapper">Qual o seu maior desafio no GB para 2024?</p>
            <div class="rectangle"></div>
        </div>
        <div class="overlap-group">
            <form [formGroup]="formulario">
                <textarea #textoResposta rows="6" cols="50" (keyup.enter)="enviar()" formControlName="resposta" class="text-wrapper-2" placeholder="Digite aqui sua mensagem"></textarea>
            </form>
        </div>
        <div class="frame" (click)="enviar()">
            <div class="text-wrapper-3">Enviar</div>
        </div>
        <img class="elementos-LIDERA" src="../../assets/logo.png" />
        <div class="overlap-group-2">
        <div class="ellipse"></div>
        <img class="branco" src="../../assets/digital.png" />
        </div>
    </div>
</div>
